html,
body {
  width: 100%;
  height: 100%;
}
.main {
  background-image: url(assets/netflixproject.jpg);
  width: 100vw;
  background-position: center center;
  height: 100vh;
  position: relative;
}
.Sign {
  font-weight: bold;
  position: relative;
  z-index: 10;
  margin-top: 25px;
  color: white;
  width: 90px;
  height: 45px;
  background-color: red;
}
.drop {
  position: relative;
  font-weight: bold;
  z-index: 10;
  margin-top: 25px;
  color: white;
  width: 110px;
  padding-left: 10px;
  height: 45px;
  background-color: black;
}
.hero {
  position: relative;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  font-weight: bold;
  flex-direction: column;
  margin-top: 30vh;
}
.address {
  margin-top: 27px;
  margin-left: 35vw;
  color: white;
  background-color: black;
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 99;
  height: 55px;
  font-size: 22px;
}
.get {
  margin-right: 200px;
  margin-top: -58px;
  color: white;
  background-color: red;
  position: relative;
  font-weight: bolder;
  font-size: 22px;
  z-index: 99;
  width: 150px;
  height: 55px;
  display: flex;
  margin-left: 55vw;
  justify-content: center;
  align-items: center;
}
.unlimited {
  font-size: 48px;
  color: white;
}
.ready {
  font-size: 22px;
  color: white;
}
.watch {
  font-size: 22px;
  color: white;
}
nav {
  display: flex;
  max-width: 80vw;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  height: 82px;
}

nav img {
  width: 200px;
  height: 100px;
  margin-top: 25px;
  position: relative;
  z-index: 10;
}
.main .box {
  position: absolute;
  height: 100vh;
  width: 100%;
  top: 0;
  opacity: 0.44;
  background-color: black;
}
body {
  height: 2800px;
  overflow-x: hidden;
  background-color: black;
}

* {
  margin: 0;
  padding: 0;
}
@keyframes header {
  0% {
    background-position: 50% 0%;
  }
  100% {
    background-position: 50% 100%;
  }
}

hr {
  height: 24vh;
}
.divider {
  background-color: #6c6868;
  height: 5px;
  width: 100vw;
  opacity: 0.4;
  margin-top: 2px;
}

.tracking-in-expand {
  min-height: auto;
  text-align: left;
  color: white;
  font-family: sans-serif;
  font-size: 73px;
  padding-left: 105px;
  padding-top: 158px;
  width: 613px;
  font-weight: bold;

  -webkit-animation: tracking-in-expand 5s cubic-bezier(0.215, 0.61, 0.355, 1)
    both;
  animation: tracking-in-expand 5s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}
@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

#watch {
  color: white;
  font-family: sans-serif;
  text-align: left;
  font-size: 30px;
  padding-left: 105px;
  padding-top: 20px;
  width: 660px;
  -webkit-animation: tracking-in-expand 5s cubic-bezier(0.215, 0.61, 0.355, 1)
    both;
  animation: tracking-in-expand 5s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}
#tv {
  padding-left: 414px;
  margin-top: -160px;
  position: relative;
  z-index: 10;
}
.divide {
  background-color: #6c6868;
  height: 5px;
  width: 100vw;
  opacity: 0.5;
  margin-top: 82px;
  position: relative;
}
.video {
  display: flex;
  position: relative;
  padding-bottom: 50px;
  margin-top: 20px;
  width: 464px;
  padding-left: 500px;
  margin-top: -383px;
}
#a {
  color: white;
  padding-right: 142px;
  padding-top: 130px;
  font-weight: bold;
  font-size: 48px;
  text-align: right;
  font-family: sans-serif;
  animation: fade 4s ease-in;
}
#b {
  color: white;
  padding-right: 191px;
  padding-top: 48px;
  font-size: 28px;
  text-align: right;
  font-family: sans-serif;
  animation: fade 5s ease-in;
  transition-property: all;
  transition-timing-function: ease-in;
}
#animate {
  margin-top: 20px;
  margin-right: 50px;
}
.div {
  background-color: #6c6868;
  height: 5px;
  width: 100vw;
  opacity: 0.4;
  margin-top: 85px;
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
#idea {
  color: white;
  width: 100vw;
  font-weight: bold;
  font-family: sans-serif;
  font-size: 53px;
  text-align: center;
  margin-top: 118px;
}
#dividers {
  background-color: #6c6868;
  height: 5px;
  width: 100vw;
  opacity: 0.4;
  margin-top: -154px;
}
#Netflix {
  width: 1538px;
  padding-right: 200px;
  margin-left: -10px;
}
.card {
  position: relative;
  width: 256px;
  height: 387px;
  background-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 12px;
  gap: 12px;
  border-radius: 8px;
  cursor: pointer;
  margin-right: 50px;
  margin-left: 1000px;
  margin-top: 114px;
}

.card::before {
  content: "";
  position: absolute;
  inset: 0;
  left: -5px;
  margin: auto;
  width: 200px;
  height: 264px;
  border-radius: 10px;
  background: linear-gradient(-45deg, #e81cff 0%, #40c9ff 100%);
  z-index: -10;
  pointer-events: none;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card::after {
  content: "";
  z-index: -1;
  position: absolute;
  inset: 0;
  background: linear-gradient(-45deg, #fc00ff 0%, #00dbde 100%);
  transform: translate3d(0, 0, 0) scale(0.95);
  filter: blur(20px);
}

.heading {
  font-size: 45px;
  text-transform: capitalize;
  font-weight: bolder;
  padding-bottom: 0px;
  color: #f607da;
  text-align: center;
}

.card p:not(.heading) {
  font-size: 22px;
  color: white;
  text-align: center;
  padding-top: 30px;
}

.card p:last-child {
  color: #e81cff;
  font-weight: 600;
}

.card:hover::after {
  filter: blur(82px);
}

.card:hover::before {
  transform: rotate(-90deg) scaleX(1.55) scaleY(1);
}
#buy:hover {
  color: black;
  transform: translateY(-1px);
  background-color: #00dbde;
}
.card1 {
  position: relative;
  width: 256px;
  height: 387px;
  background-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 12px;
  gap: 12px;
  border-radius: 8px;
  cursor: pointer;
  margin-right: 50px;
  margin-left: 618px;
  margin-top: -412px;
}

.card1::before {
  content: "";
  position: absolute;
  inset: 0;
  left: -5px;
  margin: auto;
  width: 200px;
  height: 264px;
  border-radius: 10px;
  background: linear-gradient(-45deg, #e81cff 0%, #40c9ff 100%);
  z-index: -10;
  pointer-events: none;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card1::after {
  content: "";
  z-index: -1;
  position: absolute;
  inset: 0;
  background: linear-gradient(-45deg, #fc00ff 0%, #00dbde 100%);
  transform: translate3d(0, 0, 0) scale(0.95);
  filter: blur(20px);
}

.heading {
  font-size: 45px;
  text-transform: capitalize;
  font-weight: bolder;
  padding-bottom: 0px;
  color: #f607da;
  text-align: center;
}

.card1 p:not(.heading) {
  font-size: 22px;
  color: white;
  text-align: center;
  padding-top: 30px;
}

.card1 p:last-child {
  color: #e81cff;
  font-weight: 600;
}

.card1:hover::after {
  filter: blur(82px);
}

.card1:hover::before {
  transform: rotate(-90deg) scaleX(1.55) scaleY(1);
}
.card2 {
  position: relative;
  width: 256px;
  height: 387px;
  background-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 12px;
  gap: 12px;
  border-radius: 8px;
  cursor: pointer;
  margin-right: 50px;
  margin-left: 245px;
  margin-top: -412px;
}

.card2::before {
  content: "";
  position: absolute;
  inset: 0;
  left: -5px;
  margin: auto;
  width: 200px;
  height: 264px;
  border-radius: 10px;
  background: linear-gradient(-45deg, #e81cff 0%, #40c9ff 100%);
  z-index: -10;
  pointer-events: none;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card2::after {
  content: "";
  z-index: -1;
  position: absolute;
  inset: 0;
  background: linear-gradient(-45deg, #fc00ff 0%, #00dbde 100%);
  transform: translate3d(0, 0, 0) scale(0.95);
  filter: blur(20px);
}

.heading {
  font-size: 45px;
  text-transform: capitalize;
  font-weight: bolder;
  padding-bottom: 0px;
  margin-bottom: -16px;
  color: #f607da;
  text-align: center;
}

.card2 p:not(.heading) {
  font-size: 22px;
  color: white;
  text-align: center;
  padding-top: 30px;
}

.card2 p:last-child {
  color: #e81cff;
  font-weight: 600;
}

.card2:hover::after {
  filter: blur(82px);
}

.card2:hover::before {
  transform: rotate(-90deg) scaleX(1.55) scaleY(1);
}
#buy:hover {
  color: black;
  transform: translateY(-1px);
  background-color: #00dbde;
}
.divider2 {
  background-color: #6c6868;
  height: 5px;
  width: 100vw;
  opacity: 0.4;
  margin-top: 62px;
}
.copy {
  color: white;
  font-family: sans-serif;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  margin-top: 50px;
}
.change {
  display: flex;
  justify-content: center;
  margin-top: 50vh;
}

.language {
  width: 80px;
  height: 50px;
  background-color: rgb(217, 48, 48);
  color: white;
  font-weight: bold;
}
.sign {
  width: 80px;
  height: 50px;
  background-color: rgb(0, 0, 0);
  color: white;
  font-weight: bold;
}
.align {
  object-fit: cover;
}
.p1 {
  font-family: sans-serif;
  size: 34px;
  color: white;
  font-weight: bold;
}
.p2 {
  font-family: sans-serif;
  size: 28px;
  color: white;
  font-weight: bold;
}
.p3 {
  font-family: sans-serif;
  size: 22px;
  color: white;
  font-weight: bold;
}
footer{
  border: 5px solid grey;
  height: 900px;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.footer
{
  position: relative;
  color: white;
  font-family: sans-serif;
  font-size: 21px;
  font-weight: bold;
  text-align: center;
}
.lastpage
{
  position: relative;
  margin-top: -534px;
  margin-left: 60px;
  margin-right: 40px;
}
.lastpage2
{
  position: relative;
  margin-left: 632px; 
  margin-top: -74px ;
  margin-right: 60px;
}
.lastpage3
{
  position: relative;
  margin-left: 318px;
  margin-top: -70px;
  margin-right: 60px;
}